.App-body {
  position: relative;
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding-top: 6rem;
}

@media (max-width: 660px) {
  .App-body {
    padding: 6rem 10px;
  }
}

.Location__header {
  margin-bottom: 0.5rem;
}

.Menu {
  background: #fff;
  position: fixed;
  z-index: 99;
  height: 5rem;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 0 3rem;
  margin: 0 auto;
  max-width: 200rem;
}

.Menu .title {
  margin-left: 1.5rem;
  font-weight: 600;
}

.Home h1 {
  margin-bottom: 0.5rem;
}

.locations__list {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 0.1rem solid #c4cdd5;
}

.locations__list__item {
  border-bottom: 0.1rem solid #c4cdd5;
}

.location-link {
  flex-flow: column;
  padding: 1.5rem 1rem;
  color: #404040;
}

.location-link:hover {
  color: #292c2f;
}

.location-link:focus {
  color: #9de2dd;
}

.locations__list li {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.locations__list__item,
.location-link {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.locations__list__item h3 {
  text-transform: uppercase;
  font-family: Futura, Futura Std, sans-serif;
  font-weight: 700;
  letter-spacing: 0.275rem;
  font-size: 0.9rem;
}

.location-link .pin {
  height: 18px;
  margin-right: 0.5rem;
}

.filters {
  margin-bottom: 0.5rem;
}

.radio-group {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: baseline;
  max-height: 400px;
}

.radio {
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  flex: 1;
}

.radio .radio-label {
  display: flex;
  align-items: center;
}

.radio .radio-label .option-label {
  padding-left: 4px;
}

.filters {
  margin-bottom: 1rem;
}

.test-container {
  border-top: 0.5rem solid #fff;
  padding-top: 1rem;
}

.test-container__header {
  display: flex;
  align-items: center;
}

.test-container__header .label {
  margin-left: 0.5rem;
  padding: 2px 4px;
  font-size: 0.75rem;
  font-weight: bold;
  color: #fff;
  background-color: #274548;
  min-width: 1.5rem;
  text-align: center;
  border-radius: 20px;
}

table {
  width: 100%;
  text-align: left;
  margin-bottom: 4rem;
}

tr {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

tbody tr {
  border-top: 0.25rem solid #fff;
  padding: 1rem 0;
}

th,
td {
  flex: 1;
  padding: 8px;
}

.testType {
  flex-basis: 100px;
}
.testCenter {
  flex-basis: 150px;
}
.startsAt {
  flex-basis: 260px;
}
.accommodations {
  flex-basis: 200px;
}

@media (max-width: 580px) {
  tr {
    flex-direction: column;
  }
  .testType,
  .testCenter,
  .startsAt,
  .accommodations {
    flex-basis: 0;
  }
}
